* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 18px;
  background-color: #f5f6f7;
  font-family: Lato, sans-serif;
}

h1 {
  font-size: 3vh;
  font-weight: bold;
  line-height: 1.1;
}

header {
  background-color: white;
  color: #37BBED;
  min-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 75px;
  padding: 0;
  margin: 0;
  box-shadow: 0 3px 13px 1px rgb(0 0 0 / 9%);
}


header img {
  width: 80px;
  height: 75px;
}

main {
  display: flex;
  justify-content: center;
  min-width: 400px;
}

label {
  display: block;
}

input,
label {
  margin: 0.4rem 0;
}

img {
  border-radius: 5px;
}

#titulo-imagen {
  position: relative; /* Necesario para que la superposición sea relativa a este elemento */
  background-image: url('./fondo1.jpg');
  background-size: cover;
  background-position: center center;
  color: white;
  text-align: center;
  padding: 100px;
  margin-bottom: 40px;
}

#titulo-imagen::before {
  content: ""; /* Crea un contenido falso para la superposición */
  background-color: rgba(0, 0, 0, 0.5); /* Color de fondo semitransparente */
  position: absolute; /* Coloca la superposición sobre la imagen de fondo */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#titulo-imagen h1 {
  position: relative; /* Necesario para que la superposición sea relativa a este elemento */
  color: white;
  font-size: 35px;
  padding: 0;
  margin: 0;
}

#imagen-seccion {
  background-color: white;
  border-radius: 10px;
  min-width: 300px;
  min-height: 250px;
  text-align: center;
  padding: 20px;
  box-shadow: 0 3px 13px 1px rgb(0 0 0 / 9%);
}

#imagen-subida {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-top: 20px;
}

#boton-analizar {
  display: inline-block;
  padding: 0.5em 1.7em;
  margin: 20px;
  border: 0.16em solid rgba(255, 255, 255, 0);
  background-color: #37BBED;
  border-radius: 1em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  transition: all 0.2s;
  cursor: pointer;
  box-shadow: 0 3px 13px 1px rgb(0 0 0 / 9%);
}

#boton-analizar:hover {
  border-color: rgb(255, 255, 255);
}

.custom-file-input {
  display: inline-block;
  position: relative;
}

.custom-file-input label {
  background-color: rgb(255, 255, 255);
  color: rgb(75, 75, 75);
  padding: 8px;
  border-radius: 1em;
  font-size: 14px;
  cursor: pointer;
  box-shadow: 0 3px 13px 1px rgb(0 0 0 / 9%);
}

.custom-file-input input[type="file"] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}

#resultado {
  line-height: 1.5;
}